/*.main-nav li .glyphicon {
    margin-right: 10px;
}


.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}


.main-nav {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: lightslategray;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

@media (max-width: 767px) {


} */

@media (min-width: 768px) {

    .col {
        display: block;
        vertical-align: top;
    }

    body {

    }

    .nav {
        display: inline;
        width: 100%;
    }

    .main-nav {

        background-color: gray;
    }

    .main-nav .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .main-nav .navbar li {
        float: left;
    }     
}
